.btn {
    width: 130px;
    height: 40px;
    background-color: white;
    color: #590cc4;
    border-style: solid;
    border-color: #B383E6;
    border-radius: 15px 0 15px 0;
    font-weight: bold;
    font-size: 13px;
}
.btn:hover {
    background-color: #B383E6;
    color: white;}
.btn:active {
    background-color: #B383E6;
    color: white;}
.btn.section {
    background-color: #8F46DE;
    color: white;
    align-items: center;}
.btn.section:hover {
    background-color: white;
    color: #590cc4;}
.btn.section:active {
    background-color: white;
    color: #590cc4;}
.btn2 {
    width: 175px;
    height: 60px;
    background-color: #D7BFF3;
}   
.btn2:active {
    background-color: violet;}
.btn2:hover {
    background-color: violet;}