.header {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    gap: 20px;
    text-decoration: none;
    }
.logo {
    width: 165px;
    height: 50px;
    margin-right: 395px;}
